@import '../CSS/sass/materialize.scss';

body{
    height: auto;
}

.nav-wrapper.to{
    padding-left: 30px;
}

.carousel-item {
    & .card {
    width: 500px;
    }
}

.header-pcontainer{
    position: relative;
    z-index: 28;
}

.carousel{
    margin-top: -250px;
    margin-left: -150px;
    height: 750px;
    z-index: 0;
}

.to_by_destination{
    width: 100%;
}

li.comm {
    margin: 10px;
    border: 1px solid black ;
    padding: 20px;
    border-radius: 3px;
}

footer{
    bottom: 0px;
    width: 100%;
}

.form-register {
    margin-top: 200px;
}

.test{
    margin: 10px;
}

.form-review{
    border: 1px solid black;
    padding: 20px;
    background: rgba(229, 233, 235, 0.643);
    box-shadow: 2x 2px 0px black;

    ::placeholder{
        color: black;
    }
}

.formEditTo{
    width: 500px;
    padding-left: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 30px;
    margin: auto;
    margin-top: 20px;
    border: 1px solid black;
    background-color: rgba(233, 247, 250, 0.575);
    border-radius: 1%;
}