@import '../CSS/sass/materialize.scss';

body{
    height: auto;
}

.carousel-item {
    & .card {
    width: 500px;
    }
}

.carousel{
    margin-top: -250px;
    margin-left: -150px;
    height: 750px;
}

.to_by_destination{
    width: 100%;
}

li.comm {
    margin: 10px;
    border: 1px solid black ;
    padding: 20px;
    border-radius: 3px;
}

footer{
    bottom: 0px;
    width: 100%;
}

.form-register {
    margin-top: 200px;
}

.test{
    margin: 10px;
}

.form-review{
    border: 1px solid black;
    padding: 20px;
    background: rgba(229, 233, 235, 0.643);
    box-shadow: 2x 2px 0px black;

    ::placeholder{
        color: black;
    }
}
