@import '../CSS/sass/materialize.scss';

/* body{
    background: rgb(61, 61, 61);
    color: rgb(255, 255, 255);
} */
.card {
    width: 500px;
}
.carousel{
    margin-top: -250px;
    margin-left: -150px;
    height: 750px;
}

footer{
    bottom: 0px;
    width: 100%;
}
